@use "../abstract" as *;

.pricing-area-bg {
	background: #252525;
}
.pricing-section-title {
	.section-subtitle {
		color: #84a99c;
		
	}
	.section-main-title {
		color: var(--clr-common-white);
	}
}

.pricing-area .container{
	display: flex;
    flex-direction: column;
	align-items: center;
}

.pricinglogo{
	width:200px;
	height:200px;
	align-self: flex-end;
}

.pricing-content {
	border: 2px solid #92b48f;
	border-radius: 10px 10px 0 0;
	border-bottom: 0;
	padding: 53px 38px 43px;
	text-align: center;
	position: relative;
	z-index: 2;
	background:#f7f7f7;
	@media #{$xl} {
		padding: 53px 28px 43px;
	}
}
.package-name {
	font-size: 21px;
	text-transform: uppercase;
	color: #84a99c;
	font-weight: 700;
	display: block;
	margin-bottom: 0;
	font-family: 'Alumni Sans',sans-serif;
	font-style: italic;
}
.package-price {
	font-size: 60px;	
	font-style: italic;
	color: #252525;
	display: block;
	font-family: "Poppins", sans-serif;
	margin-top: 27px;
	margin-bottom: 58px;
	@media #{$xl,$xxs} {
		font-size: 50px;
	}
}
.package-list {
	li {
		font-size: 12px;
		font-weight: 700;
		color: #252525;
		text-transform: uppercase;
		border-bottom: 1px solid #134a37;
		padding-bottom: 16px;
		margin-bottom: 16px;
		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: 0;
		}
	}
	li.n-inc {
		color: #b44f4f;
	}
}
.pricing-btn {
	.fill-btn {
		width: 100%;
		background: #92b48f;
		border-radius: 0;
		border-color: #92b48f;
		&:hover {
			color: #92b48f;
			background: var(--clr-common-white);
			border-color: var(--clr-common-white);
		}
	}
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}
.pricing-shape {
	position: absolute;
	z-index: -1;
	top: 20px;
	left: 0;
	right: 0;
	display: none;
}
.single-pricing {
	position: relative;
}
.bp-tag {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #1d1d1d;
	border: 2px solid #ffffff;
	border-radius: 10px 10px 0 0;
	background:linear-gradient(45deg, #e5a021, #fddd8d);;
	height: 30px;
	text-align: center;
	line-height: 28px;
	border-bottom: 0;
	position: absolute;
	top: -30px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 140px;
}

.best-package {
	@media #{$sm,$xs} {
		margin-top: 30px;
	}
	.pricing-content {
		border-color: var(--clr-common-white);
		background: var(--clr-common-white);
	}
	.package-name {
		color: #141414;
	}
	.package-price {
		color: #252525;
	}
	.package-list {
		li {
			color: #252525;
			border-color: #f1f1f1;
		}
		li.n-inc {
			color: #ac3d3d;
		}
	}
	.pricing-btn {
		.fill-btn {
			background: linear-gradient(45deg, #e5a021, #fddd8d);
			border-color: #e5a021;
			color:#1d1b1b;
			&:hover {
				background: #92b48f;
				border-color: #92b48f;
				color: var(--clr-common-white);
			}
		}
	}
	.pricing-shape {
		filter: grayscale(100%) opacity(0.1);
	}
}
